<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
	<link rel="shortcut icon" href="../favicon.ico"> 
	<link rel="stylesheet" type="text/css" href="css/default.css" />
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<script src="js/modernizr.custom.js"></script>
    <title>tab</title>
  </head>
  <body>
            <table style="width: 100%; height: 100%;" align="center">
              <tbody>
              
                <tr>
                  <td style="width: 25%;" bgcolor="white" align="left">
                    <div location="topLeftPage"></div>
                  </td>
                  <td style="width: 50%;" bgcolor="white" align=center>
                    <div class="hi-icon-wrap hi-icon-effect-8" >
                        <div location="topCenterPage"></div>
                    </div>
                  </td>                  
                  <td style="width: 25%;" bgcolor="white" align="right" valign="top">
                    <div location="topRightPage"></div>
                  </td>     
                </tr>
                
                <tr>
                  <td colspan="3" rowspan="1" style="width: 100%; height: 100%;" bgcolor="#1a61b7">
                    <div location="centerPage" style="width: 100%; height: 100%;  overflow-y: auto ! important;" ></div>
                  </td>
                </tr>

                <tr>
                  <td colspan="3" rowspan="1" style="width: 100%; height: 100%;" bgcolor="#1a61b7">
                    <div location="bottomPage"></div>
                  </td>
                </tr>
                
              </tbody>
            </table>
  </body>
</html>
