$v-app-loading-text: "Dark Valo";
// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-family: "Open Sans", sans-serif;
$v-font-size: 12px;
$v-font-weight: 300;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
$v-background-color: hsl(220, 1%, 92%);

// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
// $v-app-background-color: $v-background-color;
$v-panel-background-color: #404040;
//$v-panel-background-color: rgba(255,255,255,0.2);
$v-font-color: $v-background-color;
$v-textfield-background-color : #404040;

$v-textfield-bevel: inset 0 2px 2px v-shade;
$v-textfield-shadow: $v-shadow;
$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);
$v-shadow: 0 0 0 3px rgba(0,0,0,0.32), 0 1px 0 3px rgba(255,255,255,0.14);
$v-bevel-depth: 40%;
$v-gradient: v-linear 12%;
//$v-overlay-shadow: 0 0 0 3px (v-shade 8), 0 5px 10px (v-shade 4);

$v-layout-margin-top: 3px;
$v-layout-margin-bottom: 3px;
$v-layout-margin-right: 5px;
$v-layout-margin-left: 5px;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-bevel-depth: 40%;
$v-shadow-opacity: 20%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;
$v-focus-color: #FE2E2E;
$v-selection-color: #FFDBDB;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin khipu {
  @include valo;
  
}
